version: 2
updates:
  - package-ecosystem: npm
    directory: /
    schedule:
      interval: daily
      time: '21:00'
      timezone: Asia/Tokyo

    groups:
      vitest:
        patterns:
          - 'vitest'
          - '@vitest/*'
