:root {
    --ifm-table-border-width: 0;
    --ifm-table-cell-padding: 0.3rem;
    --ifm-footer-background-color: transparent;
}

.mobile-only {
    display: none;
}

@media only screen and (max-width: 997px) {
    .mobile-only {
        display: inherit;
    }
}

@media print {
    * {
        color: black !important;
        font-family: "Noto Sans JP", sans-serif !important;
    }
    .badge {
        border: grey solid thin !important;
    }
}
