:root {
    --ifm-table-border-width: 0;
    --ifm-table-cell-padding: 0.3rem;
    --ifm-footer-background-color: transparent;
}

.capy--mobile-only {
    display: none;
}

@media only screen and (max-width: 997px) {
    .capy--mobile-only {
        display: inherit;
    }
}

@media print {
    * {
        color: var(--ifm-color-black) !important;
    }
    .badge {
        border: var(--ifm-color-secondary-contrast-foreground) solid thin !important;
    }
}
